<section class="about_section layout_padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="images/about-img.png" alt="About Readify" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>About Readify</h2>
          </div>
          <p>
            Welcome to Readify, your ultimate destination for all things books!
            We are passionate about connecting readers with their next great
            adventure. Whether you're searching for the latest bestsellers,
            timeless classics, or hidden gems, our carefully curated collection
            has something for everyone. Join us in celebrating the love of
            reading and discover a world of imagination and knowledge.
          </p>
          <a href=""> Read More </a>
        </div>
      </div>
    </div>
  </div>
</section>
