<section class="blog_section layout_padding" id="blog">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>From Our Blog</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="images/b1.jpg" alt="Book recommendations" />
            <h4 class="blog_date">
              <span> 15 October 2024 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Top 5 Must-Read Books This Fall</h5>
            <p>
              Discover our curated list of the top five books you should read
              this fall. From thrilling adventures to heartwarming tales, find
              your next great read with us!
            </p>
            <a href="/coming-soon"> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="images/b2.jpg" alt="Book club insights" />
            <h4 class="blog_date">
              <span> 10 October 2024 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Inside Our Book Club: A Journey Through Literature</h5>
            <p>
              Join us as we take you through the latest discussions and insights
              from our vibrant book club. Learn about the books that sparked
              lively conversations and the friendships formed over shared
              stories.
            </p>
            <a href="/coming-soon"> Read More </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
