<section class="catagory_section layout_padding" id="categories">
  <div class="catagory_container">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Book Categories</h2>
        <p>
          Explore our diverse selection of genres to find your next favorite
          read.
        </p>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/cat1.png" alt="Textbooks" />
            </div>
            <div class="detail-box">
              <h5>Textbooks</h5>
              <p>
                Comprehensive resources for students, covering a wide range of
                subjects and topics.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/cat2.png" alt="Science" />
            </div>
            <div class="detail-box">
              <h5>Science</h5>
              <p>
                Dive into the wonders of the universe with books on biology,
                chemistry, physics, and more.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/cat3.png" alt="History" />
            </div>
            <div class="detail-box">
              <h5>History</h5>
              <p>
                Discover fascinating stories and events that shaped our world
                throughout the ages.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/cat4.png" alt="Biography" />
            </div>
            <div class="detail-box">
              <h5>Biography</h5>
              <p>
                Learn about the lives of remarkable individuals and their
                contributions to society.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/cat5.png" alt="Adventure" />
            </div>
            <div class="detail-box">
              <h5>Adventure</h5>
              <p>
                Embark on thrilling journeys through the pages of action-packed
                and captivating stories.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/cat6.png" alt="Fantasy" />
            </div>
            <div class="detail-box">
              <h5>Fantasy</h5>
              <p>
                Enter magical realms and explore enchanting tales filled with
                extraordinary characters and adventures.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
