<section class="contact_section layout_padding" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="heading_container">
          <h2 class="">Contact Us</h2>
        </div>
        <form action="#" method="post">
          <div>
            <input type="text" placeholder="Your Name" required />
          </div>
          <div>
            <input type="email" name="email" placeholder="Your Email" required />
          </div>
          <div>
            <input type="text" placeholder="Phone Number" required />
          </div>
          <div>
            <input
              type="text"
              class="message-box"
              placeholder="Your Message"
              required
            />
          </div>
          <div class="btn-box">
            <button type="submit">SEND MESSAGE</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="images/contact-img.png" alt="Contact Us" />
        </div>
      </div>
    </div>
  </div>
</section>
