<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="" id="">
        <span> Readify </span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link pl-lg-0" href="#home"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about"> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blog"> Blog </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Us</a>
          </li>
        </ul>
        <form class="search_form">
          <input
            type="text"
            class="form-control"
            placeholder="Search here..."
          />
          <button class="" type="submit" title="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
        <div class="account">
          <a href="/api/auth/register">
            <button class="signup" name="signup" type="submit">Sign up</button>
          </a>
          <a href="/api/auth/login">
            <button class="login" name="login" type="submit">Login</button></a
          >
        </div>
      </div>
    </nav>
  </div>
</header>
