<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 info-col">
        <div class="info_detail">
          <h4>About Us</h4>
          <p>
            At Readify, we believe in the power of books to inspire and
            transform lives. Our mission is to provide a diverse selection of
            literature that caters to all readers, fostering a love for reading
            in our community.
          </p>
          <div class="info_social">
            <a href="" title="Facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="" title="Twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="" title="LinkedIn">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="" title="Instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 info-col">
        <div class="info_contact">
          <h4>Address</h4>
          <div class="contact_link_box">
            <div>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> 123 Readify Lane, Cairo </span>
            </div>
            <a href="tel:+201007529981">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call +201007529981 </span>
            </a>
            <a href="mailto:readify27@gmail.com">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> readify27@gmail.com </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 info-col">
        <div class="info_contact">
          <h4>Newsletter</h4>
          <form action="#">
            <input type="email" placeholder="Enter your email" required />
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      <!-- <div class="col-md-6 col-lg-3 info-col">
        <div class="map_container">
          <div class="map">
            <div id="googleMap" style="width: 100%; height: 400px"></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- Google Map -->
<!-- <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"
  async
  defer
></script> -->

